bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
Release/
ModsOfMistriaInstaller.sln.DotSettings.user
**/*.DotSettings.user
.vs/
/tools/checker/target/
/tools/checker/dist/
# Proprietary FMOD binaries - never committed, see tools/fmod/PACKAGING.md
/tools/fmod/dist/
